
.datos { margin-top: 30px;}
.improductividad { margin-top: 30px; color: red;}
.solucion {margin-top: 30px; color: forestgreen;}

.salarios_titulos {margin-top:7px; text-align:center; font-weight:bold; color: darkblue;}
.salarios_txt {margin-top:7px; text-align:center;}