
.container-form {width: 70%; margin:15% auto;}

.under {
    border-bottom: 1px solid #aaa;
}

.datos { margin-top: 30px;}
.improductividad { margin-top: 30px; color: red;}
.solucion {margin-top: 30px; color: #fff;}

.salarios_titulos { text-align:right; color: #fff; }
.salarios_txt {text-align:center;}